<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
	<connectionStrings>
    <add name="TranslationStorage" connectionString="metadata=res://*/Storage.TranslationStorage.csdl|res://*/Storage.TranslationStorage.ssdl|res://*/Storage.TranslationStorage.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(localdb)\v11.0;Initial Catalog=TranslationStorage;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="TranslationStorage" connectionString="metadata=res://*/Storage.TranslationStorage.csdl|res://*/Storage.TranslationStorage.ssdl|res://*/Storage.TranslationStorage.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=TranslationStorage;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /> -->
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>

  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="error.txt"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>

    <root>
      <level value="ERROR"/>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>
</configuration>
